@font-face {
    src: url('../fonts/consolas.ttf');
}

.headless .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.instructionsTable .table-row-cell {
    -fx-cell-size: 25;
    -fx-font-family: "Consolas";
}

.bitsTable .table-row-cell {
    -fx-cell-size: 25;
}

.bitsTable .column-header .label {
    -fx-alignment: center;
}

.monospaced {
    -fx-font-family: "Consolas";
}

*:breakpoint-active {
    -fx-background-color: -red-highlight-color;
}

*:next {
    -fx-background-color: -blue-highlight-color;
}

*:changed {
    -fx-background-color: -green-hightlight-color;
}
