@font-face {
    src: url('../fonts/consolas.ttf');
}

.small-rows .table-row-cell {
    -fx-cell-size: 25;
}

.monospaced .table-row-cell {
    -fx-font-family: "Consolas";
}

.table-row-cell:breakpoint-active {
    -fx-background-color: -red-highlight-color;
}

/*.table-row-cell:breakpoint-active:selected {*/
/*    -fx-background-color: -blue-highlight-color;*/
/*}*/

.align-center {
    -fx-alignment: CENTER;
}
